// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    3;


// Brand colors
// -------------------------

@brand-primary:         #990000;
@brand-secondary:       #fff6c7;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";


// Font
// -------------------------
@serif: "Times New Roman", Times, serif;
